In [61]:
import boto3
import json

In [62]:
prompt_data = """ 
what is the capital of india.?
"""

In [63]:
bedrock = boto3.client(service_name = "bedrock-runtime")

In [64]:
# payload = {
#     "inputText": prompt_data ,
#     "maxTokenCount":30,
#     "temperature":0.5,
#     "topP":0.9
# }

body = {
    "inputText": "What is the capital of india", 
    "textGenerationConfig": {
        "maxTokenCount": 30,  # Adjust the maximum token count as needed
        "stopSequences": [],   # List of stop sequences
        "temperature": 0.7,    # Temperature for randomness
        "topP": 1              # Top-p sampling parameter
    }
}

In [65]:
body = json.dumps(body)

In [66]:
model_id = "amazon.titan-text-lite-v1"

In [67]:
respnse  = bedrock.invoke_model(
    modelId = model_id,
    contentType = "application/json",
    accept = "application/json",
    body = body
)

AttributeError: 'str' object has no attribute 'read'

In [69]:
item = respnse["body"].read()

b'{"inputTextTokenCount":6,"results":[{"tokenCount":10,"outputText":"\\nThe capital of India is New Delhi.","completionReason":"FINISH"}]}'

In [70]:
item

b'{"inputTextTokenCount":6,"results":[{"tokenCount":30,"outputText":"\\nNew Delhi is the capital of India. It is located between 28\xc2\xb030\xe2\x80\xb2N and 77\xc2\xb02\xe2\x80\xb2E.","completionReason":"LENGTH"}]}'

In [71]:
i = json.loads(item)

In [72]:
i["results"][0]["outputText"]

'\nNew Delhi is the capital of India. It is located between 28°30′N and 77°2′E.'

# working with aws embedding

### preprocessing the data

In [6]:
import pandas as pd
import numpy as np
import os

In [5]:
%pwd

'/Users/vivek/work/GIT/assignment/Lakshman Diwaakar/aws '

In [7]:
os.chdir("../")

In [10]:
df = pd.read_csv("data/mutula_fund.csv")

In [45]:
embedding_data = []

In [ ]:
clms = list(df.columns)

In [16]:
clms

['Fund Name',
 'Month',
 'Instrument Name',
 'Percentage Allocation',
 'Percentage Allocation Change',
 'Instrument Count Across Funds',
 'Category',
 'Return (%)']

In [33]:
no_of_rows = len(df.iloc[:,0:1])

In [40]:
list(df.iloc[1,:])

['Zerodha Midcap Fund',
 'February 2024',
 'HDFC Large Cap',
 np.float64(5.25),
 np.float64(-1.686143078135275),
 np.int64(1),
 'Large Cap',
 np.float64(12.69)]

In [46]:
for i in range(no_of_rows):
    data = list(df.iloc[i,:])
    s = ""
    for j in range(len(clms)):
        s+=" "+str(clms[j])+" "+str(data[j])
    embedding_data.append(s)
    if i>4:
        break

In [48]:
for i in embedding_data:
    print(i)

 Fund Name Zerodha Midcap Fund Month January 2024 Instrument Name HDFC Large Cap Percentage Allocation 6.93 Percentage Allocation Change 0.0 Instrument Count Across Funds 3 Category Small Cap Return (%) 11.44
 Fund Name Zerodha Midcap Fund Month February 2024 Instrument Name HDFC Large Cap Percentage Allocation 5.25 Percentage Allocation Change -1.686143078135275 Instrument Count Across Funds 1 Category Large Cap Return (%) 12.69
 Fund Name Zerodha Midcap Fund Month March 2024 Instrument Name HDFC Large Cap Percentage Allocation 4.92 Percentage Allocation Change -0.3315197881022982 Instrument Count Across Funds 3 Category Small Cap Return (%) 11.53
 Fund Name Zerodha Midcap Fund Month April 2024 Instrument Name HDFC Large Cap Percentage Allocation 5.38 Percentage Allocation Change 0.4633003382439566 Instrument Count Across Funds 3 Category Small Cap Return (%) 11.51
 Fund Name Zerodha Midcap Fund Month January 2024 Instrument Name Zerodha Large Cap Percentage Allocation 18.09 Percentage Allocation Change 0.0 Instrument Count Across Funds 1 Category Mid Cap Return (%) 11.44
 Fund Name Zerodha Midcap Fund Month February 2024 Instrument Name Zerodha Large Cap Percentage Allocation 18.5 Percentage Allocation Change 0.40470469410756 Instrument Count Across Funds 2 Category Mid Cap Return (%) 12.69